<html>
<head>
   <title>Aeroport</title>
       {% load static %}
    <link rel='stylesheet' href={%static "style.css" %}>
</head>

<body>
   <a href="{% url 'accueil'%}">Retour à l'accueil</a>
   </br>
   <a href="{% url 'donnees'%}">Retour aux données</a>
   </br>
   <h1>Aéroports référencés</h1>
   {% if rien %}
      Aucun aéroport ne correspond à votre recherche !
   {% else %}
   <form method="get">
      <table class="search">
	     <tr>
            <td>
	           Nom de l'aéroport : <input type="search" name="aero" placeholder="Aéroport" class="saisie">
			</td>
            <td>
               Code :<input type="radio" name="co" value="iata"><label for="iata">IATA</label>
                     <input type="radio" name="co" value="oaci"><label for="oaci">OACI</label>
	                 <input type="search" name="code" placeholder="Code (3 ou 4 charactères)" class="saisie" minlength="3" maxlength="4"> <br>
            </td>
            <td>
	           Localisation :
	  	       		 <input type="checkbox" name="chercher_pays" ><label for="chercher_pays">Pays</label>
		      		 <input type="checkbox" name="chercher_ville" ><label for="chercher_ville">Ville</label>
                     <input type="search" name="vipa" placeholder="Localisation" class="saisie"><br>
            </td>
         </tr>
      </table>
	  <p class="bouton">
         <input type="submit" value="Rechercher" class=bouton >
	  </p>
   </form>

   <p>{{nb}} aéroports affichés</p>

   <table class="mon_tableau">
      <tr><th>Aéroport</th><th>Code IATA</th><th>Code OACI</th><th>Latitude</th><th>Longitude</th><th>Altitude</th><th>Ville</th><th>Pays</th></tr>
      {% for a in aeroport %}
         {% ifnotequal 'Unknown' a.nom_aeroport %}
            <tr>
                <td>{{ a.nom_aeroport }} </td>

                {% ifequal 'nan' a.iata %}
                   <td> </td>
                {% else %}
                   <td>{{ a.iata }} </td>
                {% endifequal %}

                {% ifequal 'nan' a.oaci %}
                   <td> </td>
                {% else %}
                   <td>{{ a.oaci }} </td>
                {% endifequal %}

                {% ifequal None a.latitude %}
                   <td> </td>
                {% else %}
                   <td>{{ a.latitude }} </td>
                {% endifequal %}

                {% ifequal None a.longitude %}
                   <td> </td>
                {% else %}
                   <td>{{ a.longitude }} </td>
                {% endifequal %}

                {% ifequal None a.altitude %}
                   <td> </td>
                {% else %}
                   <td>{{ a.altitude }} </td>
                {% endifequal %}

                {% ifequal 'Unknown' a.ville.nom_ville %}
                   <td> </td>
                {% else %}
                   <td>{{ a.ville.nom_ville}} </td>
                {% endifequal %}

                {% ifequal 'Unknown' a.ville.nom_pays.nom_pays%}
                   <td> </td>
                {% else %}
                   <td>{{ a.ville.nom_pays.nom_pays }} </td>
                {% endifequal %}
            </tr>
         {% endifnotequal %}
      {% endfor %}
   </table>
   {% endif %}
</body>
</html>