<html>
<head>
   <title>Compagnie</title>
   {% load static %}
   <link rel='stylesheet' href={%static "style.css" %}>
</head>

<body>
   <a href="{% url 'accueil'%}">Retour à l'accueil</a>
   </br>
   <a href="{% url 'donnees'%}">Retour aux données</a>
   </br>
   <h1>Compagnies enregistrées</h1>
   {% if rien %}
      Aucune compagnie enregistrée
   {% else %}

      <form method="get">
         <table class="search">
	        <tr>
               <td>
                  Nom :
	                   <input type="checkbox" name="nom" value="chercher_compagnie"><label for="chercher_compagnie">Compagnie</label>
                       <input type="checkbox" name="nom" value="chercher_alias"><label for="chercher_alias">Alias</label>
                       <input type="search" name="rech_compagnie" placeholder="Compagnie ou alias" class="saisie"><br>
               </td>
			   <td>
                  Code :<input type="radio" name="co" value="iata"><label for="iata">IATA</label>
                        <input type="radio" name="co" value="oaci"><label for="oaci">OACI</label>
                        <input type="search" name="code" placeholder="Code (2 ou 3 charactères)" class="saisie" minlength="2" maxlength="3"> <br>
               </td>
			   <td>
                  Pays : <input type="search" name="chercher_pays" placeholder="Pays" class="saisie">
               </td>
			</tr>
         </table>
	     <p class="bouton">
            <input type="submit" value="Rechercher" class=bouton >
	     </p>
      </form>
     <p>{{ nb}} compagnies</p>
     <table class="mon_tableau">

     <tr><th>Compagnie</th><th>Alias</th><th>Code IATA</th><th>Code OACI</th><th>Pays</th></tr>
     {% for c in compagnie %}
        {% ifnotequal 'Unknown' c.nom_compagnie %}
           <tr>
              <td>{{ c.nom_compagnie }} </td>

              {% ifequal 'nan' c.alias %}
                 <td> </td>
              {% else %}
                 <td>{{ c.alias }} </td>
              {% endifequal %}

              {% ifequal 'nan' c.iata %}
                 <td> </td>
              {% else %}
                 <td>{{ c.iata }} </td>
              {% endifequal %}

              {% ifequal 'nan' c.oaci %}
                 <td> </td>
              {% else %}
                 <td>{{ c.oaci }} </td>
              {% endifequal %}

              {% ifequal 'Unknown' c.nom_pays.nom_pays %}
                 <td> </td>
              {% else %}
                 <td>{{ c.nom_pays.nom_pays }} </td>
              {% endifequal %}
          </tr>
       {% endifnotequal %}

   {% endfor %}
   </table>
   {% endif %}
</body>
</html>